@charset "UTF-8";

body{
    background-color: #02eb587d;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #01702A;
}

h1#principal{
    text-align: center;
    color: white;
    background-color: #02C248;
   
}

h2{
    color: #029939;
}

.basico{
    color: #029939;
    font-weight: bolder;
}

.intermediario{
    color: #919902;
}

.avançado{
    color: #990202;
}